{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body %}
    {# PROBLEM #}
    <h1>{{ 'page.title.problem.index'|trans }}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th style="min-width: 250px;">{{ 'table.name'|trans }}</th>
                <th style="min-width: 200px;">{{ 'table.script'|trans }}</th>
                <th>{{ 'table.action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sfepy_problem_show', { 'id': entity.id }) }}">{{ entity.name }} ({{ entity.id }})</a></td>

                <td>{{ entity.script }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sfepy_problem_show', { 'id': entity.id }) }}">
                            {{ 'entity.problem.show'|trans }}</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('sfepy_problem_edit', { 'id': entity.id }) }}">
                            {{ 'entity.problem.edit'|trans }}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('sfepy_parser_form', { 'id': entity.id }) }}">
                            {{ 'entity.problem.parse'|trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li><a href="{{ path('sfepy_problem_new') }}">{{ 'entity.problem.create'|trans }}</a></li>
    </ul>
    {% endif %}
    {% endblock %}
