{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body %}
{# PROBLEM #}

{% if is_granted('ROLE_ADMIN') %}
<div class="admin-tools">
    <ul>
        <li>{{ form(edit_form_link) }}</li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endif %}

    <h1 style="margin-bottom: 0;">Problem: {{ entity.name }}</h1>
    <h2 style="margin-top: 0; text-indent: 25px;">belong to {{ entity.script }}</h2>
    
    <p>{{ entity.shortDesc|raw }}</p>
    
    <h2>XML schema</h2>
    <div style="overflow: auto; background-color: #eee;">
        <pre style="margin:  10px;"><code>{{ entity.xmlschema }}</code></pre>
    </div>

<p><a href="{{ path('sfepy_problem') }}" class="btn-link">{{ 'entity.uni.back'|trans }}</a></p>
{% endblock %}
