/* 
    Document   : layout
    Created on : 25.3.2014, 12:56:00
    Author     : neumann
    Description:
        Purpose of the stylesheet follows.
*/
body {
    font: normal normal normal 100%/1.2 sans-serif;
    text-align: center;
    background-color: #11303d;
    margin: 0;
}
a { color: #355f7c; }
a.admin { color: red; }
a:hover { text-decoration: none; }
a img { border: none; }
abbr { border-bottom-style: dashed; border-bottom-width: 1px; cursor: help; }


.page-wrap {
    margin: 0 auto;
    width: 980px;
    text-align: left;
    background-color: white;
}

.header {
    min-height: 95px;
    border: 1px solid white;
    padding: 10px 10px 0 10px;
}
.header .logo a {
    font-size: 300%;
    text-decoration: none;
    color: #00aa00;
}
.header .ntc {
    float: right;
}

.navigation {
    background-color: #f2f2f2;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.navigation ul {
    margin: 2px 0;
    padding-left: 10px;
}
.navigation ul li { display: inline-block; margin: 0 2px;}
.navigation ul li a {
    color: #355f7c;
}

.content-wrap {
    margin: 30px 10px;
}

.menu {
    width: 200px;
    float: right;

}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
}
.menu ul li a {
    display: block;
    color: #355f7c;
    width: 100%;
    padding: 3px 0px;
    margin-left: 15px;
}
.menu h3 {
    background-color: #1c4e63;
    color: white;
    margin: 0;
    padding: 3px 8px;
}
.menu h3.admin {
    background-color: #A60000;
}

.content {
    width: 700px;
    float: left;
    margin-left: 20px;
    min-height: 600px;
    margin-bottom: 30px;
}
.content h1 {
    color: #11557c;
    font-size: 160%;
    margin-top: 0;
    display: inline-block;
}
.content .admin-tools {
    float: right;
}
.admin-tools ul {
    list-style-type: none;
}
.admin-tools ul li {
    display: inline-block;
}
.content .page-date {
    font-size: 90%;
    float: right;
}

.content textarea {
    width: 100%;
}



.footer {
    clear: both;
    background-color: #1c4e63;
    color: white;
    font-size: 90%;
}
.footer > div {
    margin: 0 10px;
    padding: 5px 0 10px 0;
}
.footer a {
    color: #f2f2f2;
}

/* FORMS */
.required {
    color: red;
}
.btn-delete {
    min-width: 80px;
    font-size: 100%;
    padding: 2px 5px;
    border: 1px solid red;
    color: black;
    background-color: #FF7373;
    cursor: pointer; cursor: hand
}
.btn-delete:hover {
    color: white;
}
.btn-delete:active {
    color: white;
    background-color: #A60000;
}

.btn-edit, a.btn-link {
    min-width: 80px;
    font-size: 100%;
    padding: 2px 5px;
    border: 1px solid #052F6D;
    color: black;
    background-color: #437DD4;
    cursor: pointer; cursor: hand
}
a.btn-link {
    display: inline-block;
    margin: 2px;
    text-align: center;
}
.btn-edit:hover, a.btn-link:hover {
    color: white;
}
.btn-edit:active, a.btn-link:active {
    color: white;
    background-color: #052F6D;
}

.btn-save {
    min-width: 80px;
    font-size: 100%;
    padding: 2px 5px;
    border: 1px solid #2D9B27;
    color: black;
    background-color: #0ACF00;
    cursor: pointer; cursor: hand
}
.btn-save:hover {
    color: white;
}
.btn-save:active {
    color: white;
    background-color: #078600;
}

.records_list {
    width: 100%;
}

.log tr:hover td {
    background-color: yellow;
}

/* PARSER form */
.parse_form input { width: 350px; }
.parse_form select { width: 200px; }
.parse_form input.vector { width: 60px; }