{% trans_default_domain 'masscomBundle' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Masscom{% block title %}: Homepage{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/sfepymasscom/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
                {# <link rel="stylesheet" href="{{ asset('bundles/sfepymasscom/css/layout.css') }}" /> #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: 'textarea.tinymce',
                menu: {},
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "code fullscreen textcolor charmap hr nonbreaking visualchars"
                ],
                toolbar: "insertfile undo redo | styleselect removeformat | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image | anchor hr | outdent indent | fullscreen | forecolor backcolor charmap nonbreaking | visualchars | preview print code"
            });
        </script>
    </head>
    <body>
        {% if form is defined %}
            {% form_theme form 'form_table_layout.html.twig' %}
        {% endif %}
        {% if edit_form is defined %}
            {% form_theme edit_form 'form_table_layout.html.twig' %}
        {% endif %}
        <div class="page-wrap">
            <div class="header">
                <span class="logo"><a href="{{ path('sfepy_nav_home') }}">
                        <img src="{{ asset('bundles/sfepymasscom/images/logo.png') }}" title="MAnager of Script for Scientific COMputation">
                        <!--<img src="http://pic.icx.cz/logo.png">-->
                    </a></span>
                <span class="ntc"><img src="http://sfepy.org/doc-devel/_static/ntc_logo.png"></span>
            </div>
                <div class="navigation">
                    <ul>
                        <li><a href="{{ path('sfepy_nav_home') }}">{{ 'menu.top.page'|trans }}</a></li> |
                        <li><a href="{{ path('sfepy_nav_doc') }}">{{ 'menu.top.doc'|trans }}</a></li> |
                        <li><a href="{{ path('sfepy_nav_problem') }}">{{ 'menu.top.problem'|trans }}</a></li> |
                        <li><a href="{{ path('sfepy_nav_script') }}">{{ 'menu.top.script'|trans }}</a></li> |
                    </ul>
                </div> 
           <div class="content-wrap">
                <div class="menu">
                    <h3>{{ 'menu.heading.login'|trans }}</h3>
                    {% render(controller('sfepyMasscomBundle:Menu:login')) %}

                    <h3>{{ 'menu.heading.page'|trans }}</h3>
                    {% render(controller('sfepyMasscomBundle:Menu:index')) %}
                    
                    <h3>{{ 'menu.heading.doc'|trans }}</h3>
                    {% render(controller('sfepyMasscomBundle:Menu:doc')) %}
                    
                    {% if is_granted('ROLE_ADMIN') %}
                    {% render(controller('sfepyMasscomBundle:Menu:admin')) %}
                    {% endif %}
                </div>
                <div class="content">
                    <div class="text">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>&copy; Copyright 2014 <a href="http://www.sfepy.org">Sfepy.org</a>, {{ 'footer.create'|trans }} <a href="http://www.tonda.info">Antonín Neumann</a></div>
            </div>    
        </div>
        {% block javascripts %}{% endblock %}
        </body>
    </html>
