{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Log list</h1>

    <table class="records_list log">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>User</th>
                <th>Problem</th>
                <th>Script</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.createat %}{{ entity.createat|date('d. m. Y') }}{% endif %}</td>
                <td>{% if entity.createat %}{{ entity.createat|date('H:i:s') }}{% endif %}</td>
                <td>{{ entity.user }}</td>
                <td>{{ entity.problem }}</td>
                <td>{{ entity.problem.script }}</td>
                <td>
                    {% if entity.success == 1 %}
                        success
                    {% else %}
                        failure
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#
    <a href="{{ path('sfepy_log_new') }}">Create a new entry</a>
    <a href="{{ path('sfepy_log_show', { 'id': entity.id }) }}">show</a>
    <a href="{{ path('sfepy_log_edit', { 'id': entity.id }) }}">edit</a>
    #}
    {% endblock %}
