{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Log</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Create_at</th>
                <td>{{ entity.createat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Success</th>
                <td>{{ entity.success }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sfepy_log') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sfepy_log_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
