{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body -%}
    <h1>{{ 'page.title.user.edit'|trans({'%username%': app.user.username}) }}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sfepy_user') }}">{{ 'entity.uni.back'|trans }}</a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
