{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body -%}
    <h1>{{ 'page.title.user.index'|trans }}</h1>

    <table class="records_list" style="overflow: auto; width: 100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>

                <th>Enabled</th>
                
                <th>Last login</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('sfepy_user_show', { 'id': entity.id }) }}"
                       title="{{ entity.name }} {{ entity.lastname }}">
                        {{ entity.username }}</a></td>
                <td>
                {% if entity.email|length > 20 %}
                    <abbr title="{{ entity.email }}"> {{ entity.email|slice(0, 17) }} ...</abbr>
                {% else %}
                    {{ entity.email }}
                {% endif %}
                </td>
  
                <td>{% if entity.enabled %} YES {% else %} NO {% endif %}</td>
                
                <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sfepy_user_show', { 'id': entity.id }) }}">
                            {{ 'entity.problem.show'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('sfepy_user_edit', { 'id': entity.id }) }}">
                            {{ 'entity.problem.edit'|trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#    
    <ul>
        <li>
            <a href="{{ path('sfepy_user_new') }}">{{ 'entity.user.create'|trans }}</a>
        </li>
    </ul>
    #}
    {% endblock %}
