{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body -%}
    <h1>{{ 'page.title.user.create'|trans }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sfepy_user') }}">
            {{ 'entity.uni.back'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
