{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{# USER #}

{% block body -%}
    <h1>{{ 'page.title.user.show'|trans({'%username%': app.user.username}) }}</h1>

<div class="admin-tools">
    <ul>
        <li>
            <a href="{{ path('sfepy_user_edit', { 'id': entity.id }) }}">
                {{ 'entity.uni.edit'|trans }}
            </a>
        </li>
        {# pouze admin může smazat uživatelský účet #}
        {% if is_granted('ROLE_ADMIN') %}
            <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
</div>
    
    <table class="record_properties">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if entity.enabled %} YES {% else %} NO {% endif %}</td>
            </tr>
            <tr>
                <th>Last login</th>
                <td>{{ entity.lastLogin|date('d. m. Y, H:i:s') }}</td>
            </tr>
            <tr>
                <th>Locked</th>
                <td>{% if entity.locked %} YES {% else %} NO {% endif %}</td>
            </tr>
            <tr>
                <th>Expired</th>
                <td>{% if entity.expired %} YES {% else %} NO {% endif %}</td>
            </tr>
            <tr>
                <th>Expires at</th>
                <td>{{ entity.expiresAt|date('d. m. Y, H:i:s') }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% for role in entity.roles %}
                    {{ role }}, 
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Credentials expired</th>
                <td>{% if entity.credentialsExpired %} YES {% else %} NO {% endif %}</td>
            </tr>
            <tr>
                <th>Credentials expire at</th>
                <td>{{ entity.credentialsExpireAt|date('d. m. Y, H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

<p><a href="{{ path('sfepy_user') }}">{{ 'entity.uni.back'|trans }}</a></p>

{% endblock %}
