{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">Login</label><br>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /><br>

    <label for="password">Password</label><br>
    <input type="password" id="password" name="_password" required="required" /><br>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">Remember me</label><br>

    <div>
        <input type="submit" id="_submit" name="_submit" value="Login" />
    </div>
</form>
{% endblock fos_user_content %}
