{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body -%}
{# DOCUMENTATION #}
    <h1>{{ 'page.title.doc.index'|trans }}</h1>
    <ul>
        {% for entity in entities %}
        <li>
            <a href="{{ path('sfepy_doc_show', { 'slug': entity.slug }) }}">{{ entity.title }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                <ul>
                    <li>{{ form(entity.edit) }}</li>
                    <li>{{ form(entity.delete) }}</li>
                </ul>
                {% endif %}
        </li>
        {% endfor %}
    </ul>

    {% if is_granted('ROLE_ADMIN') %}
         <a href="{{ path('sfepy_doc_new') }}" class="admin">{{ 'entity.page.create'|trans }}</a>
    {% endif %}

    {% endblock %}
