{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body -%}
{# DOCUMENTATION #}
<h1>{{ entity.title }}</h1>

{% if is_granted('ROLE_ADMIN') %}
<div class="admin-tools">
    <ul>
        <li>{{ form(edit_form_link) }}</li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endif %}

<div>
    {{ entity.textfield | raw }}
</div>
<span class="page-date">{{ 'page.date.create'|trans }} {{ entity.createat|date('d. m. Y') }}</span>

<p><a href="{{ path('sfepy_doc') }}">{{ 'entity.uni.back'|trans }}</a></p>
{% endblock %}
