{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body -%}
    <h1>Script edit</h1>

    {{ form(edit_form) }}

    
<div class="admin-tools">
    <ul>
        <li><a href="{{ path('masscom_script') }}" class="btn-link">{{ 'entity.uni.back'|trans }}</a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endblock %}
