{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body -%}
    <h1>{{ 'page.title.script.index'|trans }}</h1>

    {% for entity in entities %}
        <h2><a href="{{ path('masscom_script_show', { 'id': entity.id }) }}">{{ entity.name }}</a></h2>

        <p>{{ entity.shortDesc |raw }}</p>
        
        <table>
            <tr>
                <th>URL: </th><td>{{ entity.url }}</td>
                
            </tr>
            <tr>
                <th>Command: </th><td><code>{{ entity.cmd }}</code></td>
            </tr>  
        </table>
        <a href="{{ path('masscom_script_show', { 'id': entity.id }) }}">{{ 'entity.script.show'|trans }}</a>
        {% if is_granted('ROLE_ADMIN') %}
            | <a href="{{ path('masscom_script_edit', { 'id': entity.id }) }}">{{ 'entity.script.edit'|trans }}</a>
        {% endif %}
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <p><a href="{{ path('masscom_script_new') }}">{{ 'entity.script.create'|trans }}</a></p>
    {% endif %}
        
    {% endblock %}
