{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body -%}
    <h1>Script creation</h1>

    {{ form(form) }}

<div class="admin-tools">
    <ul>
        <li><a href="{{ path('masscom_script') }}" class="btn-link">{{ 'entity.uni.back'|trans }}</a></li>
    </ul>
</div>
{% endblock %}
