{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body -%}
{# SCRIPT #}
<h1>{{ entity.name }}</h1>

{% if is_granted('ROLE_ADMIN') %}
<div class="admin-tools">
    <ul>
        <li>{{ form(edit_form_link) }}</li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endif %}

<p>{{ entity.shortDesc | raw }}</p>

<table>
    <tr>
        <th>URL</th><td>{{ entity.url }}</td>

    </tr>
    <tr>
        <th>Command</th>
        <td>{{ entity.cmd }}</td>
    </tr>  
</table>

<p>{{ entity.fulldesc | raw }}</p>

<h3>Problems belong to this script</h3>
<ul>
    {% for problem in problems %}
    <li><a href="{{ path('sfepy_problem_show', { 'id': problem.id }) }}">{{ problem }}</a></li>
    {% endfor %}
</ul>

<p><a href="{{ path('masscom_script') }}">{{ 'entity.uni.back'|trans }}</a></p>
{% endblock %}
