{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body -%}
    <h1>Editing of saved problem</h1>
    <p>
    <strong>Warning:</strong><br>
    Be careful when editing this entry. It may cause a malfunction of the script.<br> 
    If you do not understand how it works you should not change it.
    </p>

    {{ form(edit_form) }}

<div class="admin-tools">
    <ul>
        <li><a href="{{ path('sfepy_save') }}" class="btn-link">{{ 'entity.uni.back'|trans }}</a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endblock %}
