{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usersave list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>User</th>
                <th>Problem</th>
                <th>Script</th>
                <th colspan="3">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.user }}</a></td>
                <td><a href="{{ path('sfepy_problem_show', { 'id': entity.problem.id }) }}">{{ entity.problem }}</a></td>
                <td><a href="{{ path('masscom_script_show', { 'id': entity.problem.script.id }) }}">{{ entity.problem.script }}</a></td>
                
                <td><a href="{{ path('sfepy_save_show', { 'id': entity.id }) }}">show</a></td>
                <td><a href="{{ path('sfepy_save_edit', { 'id': entity.id }) }}">edit</a></td>
                <td>{{ form(entity.delete) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('sfepy_save_new') }}">Create a new entry</a>#}

    {% endblock %}
