{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{# USERSAVE #}
{% block body -%}
    <h1>{{ entity.name }}</h1>

    <table>
        <tr>
            <th>Problem: </th>
            <td><a href="{{ path('sfepy_problem_show', { 'id': entity.problem.id }) }}">{{ entity.problem }}</a></td>
        </tr>
        <tr>
            <th>Script: </th>
            <td><a href="{{ path('masscom_script_show', { 'id': entity.problem.script.id }) }}">{{ entity.problem.script }}</a></td>
        </tr>
    </table>
    
                <h2>Datafile</h2>
                <div style="overflow: auto; background-color: #eee;">
                    <pre style="margin:  10px;"><code>{{ entity.datafile }}</code></pre>
                </div>

                
<div class="admin-tools">
    <ul>
        <li><a href="{{ path('sfepy_save') }}" class="btn-link">{{ 'entity.uni.back'|trans }}</a></li>
        <li><a href="{{ path('sfepy_save_edit', { 'id': entity.id }) }}" class="btn-link">
            {{ 'entity.uni.edit'|trans }}</a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endblock %}
