{% extends '::base.html.twig' %}

{% block title %}: XML Parser{% endblock %}

{% if input_form is defined %}
    {% form_theme input_form 'form_table_layout.html.twig' %}
{% endif %}

{% block body %}
    <h1>Your python script will look like this</h1><br>
    <pre>{{ script }}</pre>

{#    
<hr>
    <strong>DATA</strong><br>
    {% for key, val in data %}
        {{ key }}={{ val }}<br>
    {% endfor %}
       
    <hr>
    <strong>MESH</strong><br>
    {% for key, val in filename_mesh %}
        {{ key }}={{ val }}<br>
    {% endfor %}
 
    <hr>
    <strong>OTHER</strong><br>
    {% for key, val in other %}
       {{ key }}={{ val }}<br>
    {% endfor %}
#}
{% endblock %}