{% extends '::base.html.twig' %}

{% block title %}: XML Parser{% endblock %}

{% if input_form is defined %}
    {% form_theme input_form 'form_table_layout.html.twig' %}
{% endif %}

{% block body %}
<h2>Parser: {{ xml_problem.name }}</h2>

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="flash-error" style="color: red;">
        <strong>Error:</strong> {{ flashMessage }}
    </div><br>
{% endfor %}

{{ form(input_form) }}

{#
    <h3>Variables</h3>
    {% for entity in xml_vars %}
    <pre><code>{{ entity.full }}</code></pre>
        <ul>
        {% for key, atr in entity.attribute %}
            <li>{{ key }} - {{ atr }}</li>
        {% endfor %}
        </ul>
    {% endfor %}

    <h3>Form inputs</h3>
    {% for entity in xml_forms %}
    {{ entity.tag }}
    <pre><code>{{ entity.full }}</code></pre>
        <ul>
        {% for key, atr in entity.attribute %}
            {% if key == "opt" %}
                <li>{{ key }} - {{ dump(atr) }}</li>
            {% else %}
                <li>{{ key }} - {{ atr }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
#}
{% endblock %}