{% extends '::base.html.twig' %}

{% block title %}: calculation result{% endblock %}

{% block body %}
    <h1>Calculation result</h1><br>
    {% if not imgexist %}
        The calculation didn't solve correctly.
    {% endif %}
        <img src="{{ img }}" alt="" style="width: 100%;">

{% endblock %}