{% trans_default_domain 'masscomBundle' %}
<ul>
    {#
    {% for entity in entities %}
    <li><a href="{{ path('sfepy_doc_show_menu', { 'id': entity.id }) }}">{{ entity.title }}</a></li>
    {% endfor %}
    #}
    <h3 class="admin">{{ 'menu.heading.admin'|trans }}</h3>
    <li><a href="{{ path('sfepy_nav_log') }}">{{ 'menu.admin.log'|trans }}</a></li>
    <li><a href="{{ path('sfepy_user') }}">{{ 'menu.admin.users'|trans }}</a></li>
    
    
    
    <h3 class="admin">{{ 'menu.heading.create'|trans }}</h3>
    <li><a href="{{ path('sfepy_page_new') }}" class="admin">{{ 'menu.create.page'|trans }}</a></li>
    <li><a href="{{ path('sfepy_doc_new') }}">{{ 'menu.create.doc'|trans }}</a></li>
    <li><a href="{{ path('sfepy_problem_new') }}">{{ 'menu.create.problem'|trans }}</a></li>
    <li><a href="{{ path('masscom_script_new') }}">{{ 'menu.create.script'|trans }}</a></li>

    
</ul>
