{% trans_default_domain 'masscomBundle' %}
{% if app.user %}
    <ul>
        <li><a href="{{ path('sfepy_user_show', { 'id': app.user.id }) }}">{{ app.user.username }} ({{ user.name }} {{ user.lastname }})</a></li>
        <li><a href="{{ path('sfepy_save') }}">{{ 'menu.login.save'|trans }}</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'menu.login.logout'|trans }}</a></li>
    </ul>
{% else %}
    <ul>
        <li><a href="{{ path('fos_user_security_login') }}">{{ 'menu.login.login'|trans }}</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'menu.login.signup'|trans }}</a></li>
    </ul>
{% endif %}
