{% extends '::base.html.twig' %}
{% trans_default_domain 'masscomBundle' %}

{% block body -%}
{# PAGE #}
<h1>{{ 'page.title.page.index'|trans }}</h1>
<ul>
    {% for entity in entities %}
    <li style="margin-bottom: 5px;">
        <a href="{{ path('sfepy_page_show', { 'slug': entity.slug }) }}">{{ entity.title }}</a>
            {% if is_granted('ROLE_ADMIN') %}
            <ul>
                <li>{{ form(entity.edit) }}</li>
                <li>{{ form(entity.delete) }}</li>
            </ul>
            {% endif %}
    </li>
    {% endfor %}
</ul>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('sfepy_page_new') }}" class="admin">{{ 'entity.page.create'|trans }}</a>
{% endif %}

{% endblock %}