{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.title }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Text_field</th>
                <td>{{ entity.textfield }}</td>
            </tr>
            <tr>
                <th>Menu_order</th>
                <td>{{ entity.menuorder }}</td>
            </tr>
            <tr>
                <th>Create_at</th>
                <td>{{ entity.createat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Update_at</th>
                <td>{{ entity.updateat|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sfepy_page') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sfepy_page_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
